//- doctype html
//- html
//-   head
//-     script(data-require='angular.js@1.2.19', data-semver='1.2.19', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js')
//-     link(rel='stylesheet', href='stylesheets/login.css')
//-     script(src='javascripts/app.js')
//-   body
//-     div(ng-app='myApp', ng-controller='HomeController')
//-       form
//-         input(type='email' ng-model="email")
//-         br
//-         button(ng-click='postEmail(email)') Signup
//-         br
//-         br
//-         input(type='email' ng-model='login')
//-         br
//-         button(ng-click='postLogin(login)') Login

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Welcome to freetime!
    // Angular, TODO: Manually compile?
    script(data-require='angular.js@1.2.19', data-semver='1.2.19', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js')
    script(src='javascripts/app.js')
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/grayscale.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top', ng-app='myApp', ng-controller='HomeController')
    // Navigation
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top')
            i.fa.fa-play-circle
            span.light freetime
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='#about') About
            li
              a.page-scroll(href='#download') Login
        // /.navbar-collapse
      // /.container
    // Intro Header
    header.intro
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading freetime
              p.intro-text Schedule parties and events around your friends' schedules
              form.form-horizontal
                .col-md-10.col-xs-8
                    input(type="text", placeholder="Email", ng-model='signup').form-control
                .col-md-2.col-xs-2
                    button(type="submit", ng-click="postEmail(signup)").btn.btn-signup Sign up
              div(style="height=70px;").col-xs-12
              form.form-horizontal
                .col-md-10.col-xs-8
                    input(type="text", placeholder="Email", ng-model='login').form-control
                .col-md-2.col-xs-2
                    button(type="submit", ng-click="postLogin(login)").btn.btn-signup Login
            .col-md-8.col-md-offset-2
              a.btn.btn-circle.page-scroll(href='#about')
                i.fa.fa-angle-double-down.animated
    // About Section
    section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 About freetime
          p Talk about freetime here.
    section#contact.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          h2 Contact freetime
          p Contact me.
          ul.list-inline.banner-social-buttons
            li
              a.btn.btn-default.btn-lg(href='https://twitter.com/SBootstrap')
                i.fa.fa-twitter.fa-fw
                span.network-name Twitter
            li
              a.btn.btn-default.btn-lg(href='https://github.com/IronSummitMedia/startbootstrap')
                i.fa.fa-github.fa-fw
                span.network-name Github
            li
              a.btn.btn-default.btn-lg(href='https://plus.google.com/+Startbootstrap/posts')
                i.fa.fa-google-plus.fa-fw
                span.network-name Google+
    // Footer
    footer
      .container.text-center
        p Copyright © freetime LLC 2015
    // jQuery
    script(src='javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Plugin JavaScript
    script(src='javascripts/jquery.easing.min.js')
    // Custom Theme JavaScript
    script(src='javascripts/grayscale.js')