doctype html
html
  head
    script(data-require='angular.js@1.2.19', data-semver='1.2.19', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js')
    link(rel='stylesheet', href='stylesheets/login.css')
    script(src='javascripts/app.js')
  body
    div(ng-app='myApp', ng-controller='HomeController')
      form
        input(type='email' ng-model="email")
        br
        button(ng-click='postEmail(email)') Signup
        br
        br
        input(type='email' ng-model='login')
        br
        button(ng-click='postLogin(login)') Login