doctype html
html
	head
		script(data-require='angular.js@1.2.19', data-semver='1.2.19', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js')
		script(src='javascripts/app.js')
	body
		div(ng-app='myApp', ng-controller='InputController')
			form
				input(type='time' ng-model='time.start')
				br
				input(type='time' ng-model='time.end')
				br
				input(type='date' ng-model='time.date')
				br
				button(ng-click='printTime(time)') Done
				br
				br
				button(ng-click='logout()') Logout