doctype html
html(ng-app='')
  head
    link(href='login.css', rel='stylesheet', type='text/css')
  #bottom
    h1
      span What is freetime?
    h2
      span
        | freetime makes planning
        br
        | around your friends' busy
        br
        | schedule hassle-free.
    h3
      span Start social scheduling today
    body(ng-controller='SignUpController')
      form
        input.signup-box(type='text', name='signup', required='', placeholder='Your email or phone number', ng-model='email')
        button(type='button', ng-controller='SignUpController', ng-click='postRequest()') Sign Up!
  p(align='center')
    img(src='http://i.imgur.com/HMklqT3.png', width='475', height='157.49')
  script(src='javascripts/lib/angular/angular.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')
  script(src='javascripts/filters.js')
  script(src='javascripts/directives.js')

