doctype html
html
  head
    link(href='success.css', rel='stylesheet', type='text/css')
  #top
    h1
      span Congatulations!
    h2
      span Your account has been verified.
      h3
        span You are now logged in to freetime!
  #bottom
    p(align='center')
      img(src='http://i.imgur.com/HMklqT3.png', width='475', height='157.49')

