doctype html
html
  head
    link(href='verification.css', rel='stylesheet', type='text/css')
  #top
    h1
      span Almost there!
    h2
      span We've just sent you a verification email.
      h3
        span
          | Please check your email now and click
          br
          | the link to finish verifying your account.
          br
  #bottom
    p(align='center')
      img(src='http://i.imgur.com/HMklqT3.png', width='475', height='157.49')

