<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FreeTime</title>
        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <link rel='stylesheet' href='../fullcalendar-3.0.1/fullcalendar.css' />
        <link rel='stylesheet' href='../style.css'/>
        <script src='../fullcalendar-3.0.1/lib/jquery.min.js'></script>
        <script src='../fullcalendar-3.0.1/lib/moment.min.js'></script>
        <script src='../fullcalendar-3.0.1/fullcalendar.js'></script>


    </head>
<body>
  <div id="title"></div>

  <div id="calendar"></div>
  <div id="chat"></div>
    <script type="text/babel">
        var CommentBox = React.createClass({
            render: function() {
                return (
                        <div className="Title">
                            FreeTime
                        </div>
                );
            }
        });

        var ChatWindow = React.createClass({
            render: function(){
                return(
                        <div className="Chat">
                            Group Chat
                            <div className="SendBlock">
                                <input id="messageInput" type="text" name="Message" />
                                <button type="button" id="sendMessageButton">Send</button>
                            </div>
                        </div>
                );
            }
        });

        $(document).ready(function(){
            ReactDOM.render(
                    <CommentBox />,
                    document.getElementById('title')
            );
            ReactDOM.render(
                    <ChatWindow/>,
                    document.getElementById('chat')
            )
            $('#calendar').fullCalendar({
                aspectRatio: 2
            });
        });

    </script>

</body>
</html>

